<meta
  name="keywords"
  content="bike, stolen bike, bikes, bike registry, gloucestershire constabulary, police, bike theft, gloucestershire police, cheltenham police, gloucester police"
/>
<meta
  name="description"
  content="The Gloucestershire Constabulary's Bike Registry is an online portal created to decrease bike-related crime in and around Gloucestershire. Using the portal, you can register your bike's details with us and if it is stolen, you can simply report it using the portal and give us any supporting information. Then, using this information, the crime will be investigated promptly and efficiently. "
/>
